/*  Пример наследования   */
/* Для всех наследуемых элементов документа
устанавливаем шрифт sans-serif и белый цвет текста */
body {
    background: url("img/bg.jpg") no-repeat center center fixed #040001;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: sans-serif;
    color: white;
    font-size: 1vw;
    margin: auto;
}

/*   Селектор дочерних элементов   */
div > h1 {
    margin: auto auto 1vw;
    font-size: 2.5vw;
}

/*   Селектор класса   */
.big-container {
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid red;
    border-radius: 0.7vw;
    background: transparent;
}

#header-container {
    height: 2.5vw;
    font-weight: bold;
    margin: 1.5vw auto;
}

.header-element {
    flex: 1;
}

.header-element-left {
    justify-content: flex-start;
}

.header-element-center {
    justify-content: center;
}

.header-element-right {
    justify-content: flex-end;
}

#workspace-container {
    margin: auto auto 1.5vw;
}

.workspace-element {
    width: 100%;
    height: 22.5vw;
    margin: 1.5vw;
    border: 0.1vw solid red;
    border-radius: 0.7vw;
    padding: 2vw;
}

.parameter {
    display: flex;
    align-items: center;
    padding: 1vw;
    font-size: 1vw;
}

input[type=radio] {
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    margin: 0.2vw;
}

/*   Селектор всех соседних элементов того же уровня   */
input[type=radio] ~ label {
    cursor: pointer;
}

#X-radio {
    margin: auto;
    padding-right: 2vw;
}

#R-radio {
    margin: auto;
}

#Y-text {
    margin-left: auto;
    margin-right: 3vw;
    height: 2vw;
    width: 70%;
    text-align: center;
    font-size: 2vw;
}

.parameter-label {
    font-size: 2vw;
    font-weight: bold;
}

/*   Каскадирование !important   */
#warning-message-Y {
    visibility: hidden;
    color: red !important;
}

/*#chart-container {
    margin-left: auto;
}*/

#chart-canvas {
    width: 17.5vw;
    height: 17.5vw;
    border: 0.1vw solid red;
}

#submit-button {
    background: #3d4042;
    border: 0.1vw solid transparent;
    border-radius: 0.7vw;
    padding: 1vw 2vw;
    cursor: pointer;
    color: white;
    font-size: 1vw;
}

/*   Селектор псевдокласса hover   */
#submit-button:hover {
    border: 0.1vw solid white;
    transition: 0.1s;
    cursor: pointer;
}

#submit-button:active {
    background: darkgrey;
    transition: 0s;
}

#meta-container {
    height: 12.5vw;
    margin: auto;
    align-content: center;
    justify-content: center;
}

tr, td {
    font-size: 1vw;
    width: 17.5vw;
    border: 0.1vw solid red;
    padding: 0.7vw;
}

/*   Селектор потомств   */
div table {
    padding: 0 2vw;
    border-spacing: 0.2vw;
}

#current-time {
    font-size: 0.8vw;
}